header{
    color: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-color: gray;
}

body{
    margin: 0;
    
}
h1{
   display: inline-flex;
}

main{
    justify-content: space-between;
    padding: 1em;
    margin: 20px;
}
.contenaire{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-between;
}
.carte{
    border: solid;
    border-width: 1px;
    display: grid;
    
}
.description{
    border-top: solid;
    border-width: 1px;
}




